@model GUI_Assignment2_Breakfast_Group19.Models.BreakfastReservations

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BreakfastReservations</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            Room Number
        </th>
        <th>
            Adults
        </th>
        <th>
            Children
        </th>
        <th>
            Actions
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @{
        int numberOfChildren = 0;
        int numberOfAdults = 0;
    }
    @foreach (var item in Model.BreakfastReservationList)
    {
        <tr>
            <td>

                <p>
                     @item.RoomNumber 
                    
                </p>
                @{
                    numberOfAdults += item.Adults;
                    numberOfChildren += item.Children;
                }
            </td>
            <td>
                 @item.Adults 
            </td>
            <td>
                 @item.Children 
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
    }
    <tr class="summary">
        <td>
            Total:
        </td>
        <td>
            @numberOfAdults
        </td>
        <td>
            @numberOfChildren
        </td>

    </tr>
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BreakfastReservationsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
