@model GUI_Assignment2_Breakfast_Group19.Models.BreakfastReservations

@{
    ViewData["Title"] = "Reservations "+Model.Date.ToString("d");
}



<div>
    <h1>Breakfast Reservations for @Model.Date.Date.ToString("D")</h1>
    
   
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            Room Number
        </th>
        <th>
            Adults
        </th>
        <th>
            Children
        </th>
        <th>
            Actions
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @{
        int numberOfChildren = 0;
        int numberOfAdults = 0;
    }
    @foreach (var item in Model.BreakfastReservationList)
    {
        <tr>
            <td>

                <p>
                     @item.RoomNumber 
                    
                </p>
                @{
                    numberOfAdults += item.Adults;
                    numberOfChildren += item.Children;
                }
            </td>
            <td>
                 @item.Adults 
            </td>
            <td>
                 @item.Children 
            </td>
            <td>
                <a asp-controller="Room" asp-action="Edit" asp-route-id="@item.RoomId">Edit</a> |
                <a asp-controller="Room" asp-action="Details" asp-route-id="@item.RoomId">Details</a> |
                <a asp-controller="Room" asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
            </td>
        </tr>
    }
    <tr class="summary">
        <td>
            Total:
        </td>
        <td>
            @numberOfAdults
        </td>
        <td>
            @numberOfChildren
        </td>
        <td>
            @numberOfAdults + @numberOfChildren = @{int sum = numberOfAdults + numberOfChildren;} @sum
        </td>

    </tr>
    </tbody>
</table>
<div>
    <p>
        <button class="btn btn-primary"><a asp-controller="Room" asp-action="CreateReservation" class="text-light">Create Breakfast Reservation</a></button>
    </p>
    <a asp-action="Edit" asp-route-id="@Model.BreakfastReservationsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
