@model IEnumerable<GUI_Assignment2_Breakfast_Group19.Models.BreakfastReservations>

@{
    ViewData["Title"] = "Calendar with breakfast reservations";
}

<h1>Calendar with breakfast reservations</h1>

<p>
    <button class="btn btn-primary"><a asp-action="Create" class="text-light">Create New Date</a></button>

    <button class="btn btn-primary"><a asp-controller="Room" asp-action="CreateReservation" class="text-light">Create Breakfast Reservation</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Number of reservations
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

    <tr>
        <td>
            @item.Date.Date.ToString("D")
                
        </td>
        <td>
           @item.BreakfastReservationList.Count 
        </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BreakfastReservationsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BreakfastReservationsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BreakfastReservationsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
