@model IEnumerable<GUI_Assignment2_Breakfast_Group19.Models.BreakfastReservations>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Date</a>
</p>
<p>
    <a asp-controller="Room" asp-action="CreateReservation">Create Breakfast Reservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
                <p>ReservationsCount: @item.BreakfastReservationList.Count </p>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BreakfastReservationsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BreakfastReservationsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BreakfastReservationsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
